* {
    padding: 0;
    margin: 0;
}

#row1 {
    background-color: #1C3051;
    height: 30px;
    width: 100%;
}

/* Row 1 CSS start */

.top-section {
    width: 90%;
    margin: 0 auto;
}

.left-links {
    width: 60%;
    float: left;
    height: 100%;
}

.left-links ul {}

.left-links ul li {
    float: left;
    list-style: none;
    margin-left: 20px;
    color: #fff;
    line-height: 30px;
    font-family: monospace;

}

.left-links ul li a {
    color: #fff;
    text-decoration: none;
}

.left-links ul li a:hover {
    background: #fff;
    color: #000;
}

.social-links {
    width: 30%;
    float: right;
    text-align: right;
    height: 100%;
}

.social-links i {
    color: #fff;
    line-height: 30px;
    padding-left: 8px;
    border-right: 2px solid #fff;
    padding-right: 8px;
}

#fb {
    border-left: 2px solid #fff;
    padding-left: 8px;
}

.social-links i:hover {
    background-color: #000;
}

/* Row 1 CSS is completed */

/* Row 2 CSS start */

#row2 {
    height: 70px;
    width: 100%;
    background-color: #fff;
}

.header-section {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
}

.logo {
    width: 20%;
    float: left;
}

.logo img {
    height: 70px;
    border: 1px solid;
    border-top: none;
    border-bottom: none;
}

.menu {
    width: 70%;
    float: left;
}

.menu ul {
    margin-left: 160px;
}

.menu ul li {
    float: left;
    line-height: 70px;
    text-align: right;
    width: 98px;
    text-align: center;
    list-style: none;
    margin-left: 10px;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    color: #455964;
    font-size: 15px;
}

.menu ul li a:hover {
    color: black;
}

.menu ul li i {
    height: 30px;
    width: 30px;
    border: 2px solid #455964;
    border-radius: 100%;
    line-height: 30px;
}

.menu ul li i:hover {
    background-color: #000;
    color: #fff;
}

/* Row 2 CSS is completed */

/* Row 3 CSS is start */

#row3 {
    height: 500px;
    width: 100%;
    background-image: url(https://www.hdwallpapers.in/download/building_with_lights_united_arab_emirates_dubai_hd_travel-HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    position: relative;
}

.overlay-row3 {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
}

.banner-section {
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

.banner-content {}

.banner-content h1 {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 70px;
    padding-top: 180px;
}

.banner-content p {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 30px;
}

.banner-button {}

.banner-button button {
    padding: 10px 20px;
    background: none;
    color: #fff;
    border: 2px groove #fff;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 20px;
}

.banner-button button:hover {
    background-color: #2D4368;
    transition: 1s;
}

/* Row 3 CSS is completed */

/* Row 4 CSS start */

#row4 {
    height: 80px;
    width: 100%;
    background-color: #0E192B;
}

.form-section {
    width: 90%;
    margin: 0 auto;
}

.text-part {
    width: 20%;
    float: left;
    text-transform: uppercase;
    padding-top: 10px;
}

.text-part h1 {
    color: #fff;
}

.text-part h4 {
    line-height: 30px;
}

.form-part {
    padding: 20px;
}

.form-part form {
    width: 80%;
    float: left;
}

.input-item {
    float: left;
    padding-top: 10px;
}

.input-item label {
    font-size: 20px;
    font-weight: 500;
    color: #455964;
    padding-right: 10px;
    margin-left: 20px;
}

.input-item input[type="text"] {
    padding: 5px;
    width: 320px;
}

.input-item input[type="date"] {
    padding: 5px;
    width: 320px;
}

.input-item i {
    color: black;
    position: absolute;
    margin-left: -24px;
    line-height: 31px;
}

.form-part button {
    padding: 5px;
    margin-top: 11px;
    margin-left: 20px;
}

/* Row 4 CSS is complete */

/* Row 5 CSS start */

#row5 {
    height: 400px;
    width: 100%;
    background: #fff;
}

.offer-section {
    width: 90%;
    margin: 0 auto;
}

.offer-top {
    text-align: center;
    padding: 40px 0px;
}

.offer-top h2 {}

.offer-top p {}

.offer-bottom {}

.all-offer-item {}

.offer-item {
    width: 230px;
    float: left;
    margin-left: 40px;
    border: 4px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 2px;
    padding: 5px;
    transition: .5s;
}

.offer-item:hover {
    transform: scale(1.2);
}

.offer-item img {
    width: 100%;
    height: 150px;
}

.offer-text {
    width: 80%;
    float: left;
}

.offer-text h3 {}

.offer-text h4 {}

.offer-icon {
    width: 10%;
    float: right;
}

.offer-icon i {}

/* Row 5 CSS is complete */

/* Row-6 CSS Start */
#row6{
    height: 500px;
    width: 100%;
    background: url(https://media.istockphoto.com/id/1278304139/photo/tokyo-cityscape-aerial-view.jpg?s=612x612&w=0&k=20&c=uUFgKZ9LpwL2hHAHdsEbLEbJjfo6WKOcoGLHq2bL3ug=);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: round;
    position: relative;
}
.overlay-6{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0,0,0,.6);
}
.holidays_section{
    width: 90%;
    margin: 0 auto;
}
.holi_top{
    text-align: center;
    padding: 40px 0px;
    color: #fff;
    position: absolute;
    left: 45%;
}
.holi_top h1{
    text-transform: uppercase;
}
.holi_top p{}
.holi_bottom{
    padding-bottom: 40px;
    position: absolute;
    top: 50%;

}
.holi_item_all{}
.holi_item {
    width: 189px;
    float: left;
    color: #fff;
    text-align: center;
}
.holi_item i {
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 100%;
    line-height: 100px;
    font-size: 50px;
}
.holi_item h4{}
/* Row-6 CSS End */

/* Row-7 CSS Start */
#row7
{
height: 400px;
width: 100%;
background: #fff;
}
.happy_section
{
width: 90%;
margin: 0 auto;

}
.happy_top
{
text-align: center;
padding: 40px 0px;
}
.happy_top h1
{
    text-transform: uppercase;
}
.happy_top p
{

}
.happy_bottom
{
padding-bottom: 40px;
}
.happy_item
{
width: 29%;
float: left;
margin-left: 15px;
border: 2px solid skyblue;
padding: 10px;
transition: 1s;
}
.happy_item:hover{
    border-top: 5px solid #333;
}
.happy_item p
{
text-align: justify;
}
.happy_item h4{}
/* Row-7 CSS End */

/* Row 8 CSS start */

#row8{
    height: 450px;
    width: 100%;
    background-color: #1C3051;
}
.footer_section{
    width: 90%;
    margin: 0 auto;
    font-family: monospace;
}
.footer_top{
    padding: 40px 0px;
    border-bottom: 2px solid grey;
    height: 220px;
}
.footer_top_item{
    width: 22%;
    float: left;
    color: #fff;
}
.footer_top_item h2{
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer_top_item p{
    font-size: 13px;
    text-align: justify;
    line-height: 20px;
    margin-bottom: 15px;
    width: 228px;
}
.footer_top_item input[type="email"]{
    padding: 5px;
}
.footer_top_item button{
    padding: 7px 10px;
    background: grey;
    border: none;
}
.news_item{}
.news_item_left{
    width: 30%;
    float: left;
}
.news_item_left img{
    height: 30px;
    border: 2px solid #000;
}
.news_item_right{
    width: 70%;
    float: left;
}
.news_item_right h5{
    margin-top: -2px;
}
.news_item_right p{
    color: grey;
    font-weight: 600;
}
.footer_top_item ul{}
.footer_top_item ul li{
    list-style: none;
    border: 2px solid #fff;
    float: left;
    margin: 5px;
    padding: 3px;
}
.footer_top_item h4{
    font-size: 18px;
    line-height: 30px;
}
.footer_top_item h5{}
.footer_icon a{
    color: #fff;
}
.footer_icon a:hover{
    color: #000;
}
.footer_icon i{
    margin-left: 18px;
}
.footer_bottom{}
.footer_menu{
    height: 25px;
    color: white;
}
.footer_menu ul{
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}
.footer_menu ul li{
    float: left;
    list-style: none;
    margin-left: 20px;
    text-transform: uppercase;
}
.footer_menu ul li a{
    color: #fff;
}
.footer_menu ul li a:hover{
    color: #000;
}
.copy_right{}
.copy_right p{
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    text-transform: uppercase;
}

/* Row 8 CSS end */